.App {
  text-align: center;
}

.header-container {
    display: flex;
    position: fixed; 
    flex-direction: row;
    height: 45px;
    width:100vw;
    align-items: center;
    background-color: #6486A9;
}

.main-content {
  overflow: auto;
  margin-left: 250px;
  text-align: left;
  padding-top: 60px;
  padding-left: 10px;
  height: 100vh;
}

.clearAll {
  float: left;
}

.checkIn {
  float: right;
  margin-right: 15px;
}

.search {
  margin-bottom: 8px;
}

.profileInfo {
  font-size: x-large;
}
