.App {
  text-align: center;
  width: 100vw - 250px;
}

.App-logo {
  height: 40vmin;
  margin-top: 170px;
  margin-left: 230px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-content {
  padding-left: 250px;
  margin-left: 0px;
}

.dark {
  background-color: #333;
  color: whitesmoke;
  
}

.light {
  background-color: whitesmoke;
  color: #333;
}

.shrunk { /*the width of the view pane with a shrunk Nav Bar*/
  width: calc(100vw - 100px);
  float: right;
}

.full { /*the width of the view pane with a full Nav Bar*/
  width: calc(100vw - 250px);
  float: right;
}