body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.showprint {
  display: none;
}

@media print {
  #root, .modal-content > :not(.modal-body) {
    display: none !important;
  }
  .modal-content > .modal-body {
    display: block !important;
  }
  .modal-content {
    border: 0 !important;
  }
}

code {
  @media print {
    display: none;
  }
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body.dark .modal-content {
  background-color: #1e2229;
}

body.dark .modal-content .modal-header,
body.dark .modal-content .modal-footer {
  border-color: #424242;
}

body.dark .form-control, .btn-close {
  background-color: #282d36;
  border-color: #282d36;
  color: whitesmoke
}