.App {
    text-align: center;
}

.header-container {
    display: flex;
    position: fixed; 
    flex-direction: row;
    height: 45px;
    width: 60vw;
    align-items: center;
    margin-left: 250px;
    background-color: #6486A9;
    z-index: 4;
}

.search-header {
    height: 40px;
    width: 545px;
    display: inline-flex;
    color: white;
    text-align: left;
    padding-top: 1px;
}

.search-header button {
    display: inline-flex;
    margin-left: 10px;
}

.search-header button:hover {
    background-color: #538cc6;
}

.btn {
    color: white;
}

.main-content {
    margin-left: 250px;
    text-align: left;
    padding-top: 60px;
    padding-left: 10px;
    height: 100vh;
}

.asset-table {
    width: calc (100vw - 250px);
}

.asset-table td {
    width: auto !important;
}

.App-link {
    color: #61dafb;
}

.category {
    margin-bottom: 5px;
}
