.App {
  text-align: center;
}

.header-container {
  display: flex;
  position: fixed;
  flex-direction: row;
  height: 45px;
  width: 60vw;
  align-items: center;
  background-color: #004990;
  z-index: 4;
}

.search-header {
  height: 40px;
  width: 545px;
  display: inline-flex;
  color: white;
  text-align: left;
  padding-top: 1px;
}

.search-header button {
  background: none;
  border: none;
  color: #992f9a;
  min-width: 2.5em;
}

.search-header button:hover {
  background-color: rgb(216, 138, 216);
  border-radius: 12.5%;

}

.main-content-assets {
  text-align: left;
  padding-top: 60px;
  padding-left: 10px;
  height: 100vh;
}


.asset-table {
  width: 100%;
  height: calc(100vh - 109px);
  padding-right: 10px;
  overflow-y: scroll;
}

.beets_buttons {
  /*class that changes the color of the buttons in the webpage*/
  background-color: #015FB4;
  border-color: #015FB4;
}

.icon-button {
  min-width: 2.5em;
  min-height: 2.5em;
  margin-left: 1rem;
}

.asset-table td {
  width: auto !important;
}

.App-link {
  color: #61dafb;
}

.category {
  margin-bottom: 5px;
}

.dark {
  background-color: #333;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #333;
}

label {
  display: inline;
  font-weight: 500;
}


.css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

#inputPreview {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-left: 0.5rem;
}

.css-checkbox+label {
  position: relative;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 24px;
  color: rgb(0, 0, 0);
}

.css-checkbox+label::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  width: 22px;
  height: 22px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-radius: 2px;
  box-shadow: none;
}

.css-checkbox:checked+label::after {
  content: " ";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjOTgyZjlhIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  left: 0px;
  top: 0px;
  text-align: center;
  background-color: transparent;
  font-size: 10px;
  height: 24px;
  width: 24px;
}