.search {
top: 0px;

}
#mainContent{
    position: relative;
    display: block;
    margin: 10px;
    width: 425px;
    height: 290px;
}
#mainContent button{
    position: relative;
    width: 150px;
    height: 40px;
    margin: 0 auto;
    display: block;
}

#mainContent .btnContainer{
    display: block;
    width: 100%;
}