.App {
    text-align: center;
}

.header-container {
    display: flex;
    position: fixed; 
    flex-direction: row;
    height: 45px;
    width: 100vw;
    align-items: center;
    margin-left: 250px;
    background-color: #004990;
}

.main-content-checkout {
    overflow: auto;
    margin-left: 250px;
    text-align: left;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 15px;
    height: 100vh;
}

.clearAll {
    background-color: #015FB4;
    border-color: #015FB4;
    float: left;
}

.checkOut {
    background-color: #015FB4;
    border-color: #015FB4;
    float: right;
    margin-right: 15px;
}

.search {
    margin-bottom: 8px;
}
