.submitButton {
    background-color: #015FB4;
    border-color: #015FB4;
    margin-top: 10px;
    text-align: center;
}

.redButton {
    background-color: green;
    border-color: green;
}

.greenButton {
    background-color: red;
    border-color: red;
}